name: Deploy & Airdrop Clone
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: foundry-rs/foundry-toolchain@v1

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm i ethers@^6 axios dotenv

      - run: forge install OpenZeppelin/openzeppelin-contracts@v4.9.6 --no-commit

      - run: forge build

      - run: |
          forge create
